<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Connexion à l'administration</title>
        <Link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" intégrité =" sha256- + N4/V/SbAFiW1MPBCXnfnP9QSN3 + Keu+NlB+0ev/YKQ="crossorigin = "anonyme"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <style>
        body{
            display: flex;
            justify-content: center;
            height: 100vh;
        }
        .card{
            margin-top: 35%;

        }
    
    </style>



    </head>
    <body class="bg-dark">
    <div class="col-md-4">
        <div class="card bg-light">
            <div class="card-header">
            <h5 class="card-title"><i class="fas fa-lock"></i><b> CONNEXION A L'ADMINISTRATION</b></h5>
            </div>
            <div class="card-body">


            {% if hasError %}
                <div class="alert bg-danger text-light">Oups, les identifiants saisis sont invalides !</div>
            {% endif %}


            <form action="{{ path('admin_account_login') }}" method="post">
            {# <form method="post"> #}
                <div class="form-group"><label for="_username"</label><input type="text" class="form-control" placeholder="Adresse Email" name="_username" value="{{ username }}"></div>
                <div class="form-group"><label for="_username"</label><input type="password" class="form-control" placeholder="Mot de passe" name="_password"></div>
                <div class="form-group">
            <button type="submit" class="btn btn-warning">
                <i class="fas fa-lock-open fa-2x" ></i> <b style="font-size: 1.4em;">CONNEXION !
            </b></button>
            <a href="{{ path('main') }}" class="btn btn-link"><i class="fas fa-arrow-circle-left"></i> <b style="font-size: 1.1em;">Retour au site</b></a>
            </div>
            </form>
        </div>
         </div>
         </div>
    </body>
    </html>

