body{
   /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR-oj_Vi4vpcTjA9FHrEHfCu55viohgsgL4fw&usqp=CAU") fixed;
   background-size: cover; */
   /* background-color: grey; */
}
/*MEDIA QUERIES-------------------------------------------------------*/
@media screen and (min-width: 300px) and (max-width: 1023px) {

   #formNewsletter{
      display: none;
   }    
   #footerContact{
      text-align:center;
   } 
   #footerContact2{
      display: none;
   } 
   body {
      background-color:#87CEEB;
      width: auto;
      height: auto;
   }         
}