{% extends 'admin/base.html.twig' %}

{% block title %}PARAMETRES DE L'ADMINISTRATION{% endblock %}

{% block body %}

<div class="container col-4 mt-5 mb-4">
    <h1 class="mb-4 text-center">MODIFICATION DE STYLE DE L'ADMINISTRATION</h1>

    {{form_start(form)}}
    

    <div class="row">
       
            <div class="card-body alert alert-secondary">
             {{ form_widget(form) }}
            <button type="submit" class="btn btn-success mt-3 mb-4 center-block"><a href=""></a><i class="fa fa-check" aria-hidden="true"></i> <b>Valider</b></a></button><br>
            <a href="{{ path('admin_customizer') }}" ><b><i class="fas fa-arrow-circle-right" style="font-size: 2em;" aria-hidden="true"> Retour a la liste des paramètres</i></b></a>
            </div>
    </div>
       
 
    

   
    {{ form_end(form) }}

</div>
{% endblock %}