{% extends 'admin/base.html.twig' %}

{% block title %}CREATION D'UNE CATEGORIE{% endblock %}

{% block body %}

<div class="container col-7 mt-5 mb-4">
    <h1 class="mb-4 text-center">AJOUTER UNE CATEGORIE</h1>

    {{form_start(form)}}
    

    <div class="row-10 bg-light">
       
            <div class="card-body bg-light">
             {{ form_widget(form) }}
            <button type="submit" class="btn btn-success mt-3 mb-5 center-block"><a href=""></a><i class="fa fa-check-circle" aria-hidden="true"></i> Ajouter</a></button>

    </div>
       
 
    

   
    {{ form_end(form) }}

</div>
{% endblock %}