<div class="container-fluid bg-1">
    <div class="row text-center">
    <div class="col-md-4">
        <img src="{{asset ('/img/email.svg')}}" class="img-responsive mr-1" alt="logo" width="38px;">
        <a class="navbar-brand text-warning" href="">NOUS CONTACTER</a>
    </div>
    <div class="col-md-4">
        <img src="{{asset ('/img/timer.svg')}}" class="img-responsive mr-1" alt="logo" width="40px;">
        <a class="navbar-brand text-warning" href="#">LIVRAISON 48h</a>
    </div>
    <div class="col-md-4">
        <img src="{{asset ('/img/truck.svg')}}" class="img-responsive mr-1" alt="logo" width="50px;">
        <a class="navbar-brand text-warning" href="#">LIVRAISON OFFERTE DES 200€</a>
    </div>
    </div>
</div>