{% extends 'admin/base.html.twig' %}

{% block title %}EDITION D'UN ROLE{% endblock %}

{% block body %}

<div class="container col-5 mt-5 mb-4">
    <h1 class="mb-4 text-center">MODIFIER UN ROLE</h1>

    {{form_start(form)}}
    

    <div class="mt-5 row-10">
       
            <div class="card-body alert alert-dark">
             {{ form_widget(form) }}
            <button type="submit" class="btn btn-success mt-2 mb-3 center-block"><a href=""></a><i class="fa fa-check-circle" aria-hidden="true"></i> Ajouter</a></button>

    </div>
       
 
    

   
    {{ form_end(form) }}

</div>
{% endblock %}